name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Emacs
        uses: purcell/setup-emacs@b3884972d55f850449e43be74de08f9a97aa3f34 # master
        with:
          version: "30.2"
      - name: Install aspell
        run: sudo apt-get install aspell
      - name: Run test
        run: ./test.sh
